

<div class="body-cadastrar">
    <div class="form-CadastrarU">
        <h1>Cadastrar</h1>
        <form action="/cadastrarU"  method="post">

            <label >Nome:</label>
            <input type="text" name="nomeC">
            <label >Senha:</label>
            <input type="text" name="senhaC">
            <button>Cadastrar</button>

        </form>
    </div>
</div>