<h1>Acessar</h1>

<form action="/login/acessar"  method="POST">
    <label >Nome:</label>
    <input type="text" name="nomeU">
    <label >Senha:</label>
    <input type="text" name="senha">
    <button>Entrar</button>

</form>